<!-- <div class="courses" #container>
  <course-card [course]="courses[0]" (courseSelected)="onCourseSelected($event)">
  </course-card>
</div>
<div class="courses" >
  <course-card [course]="courses[1]" #cardRef2 (courseSelected)="onCourseSelected($event)">
  </course-card>
</div> -->
<div class="courses">
  <course-card
    *ngFor="let course of courses; let i = index"
    [course]="course"
    [cardIndex]="i + 1"
    (courseSelected)="onCourseSelected($event)"
  >
  </course-card>
</div>
<!-- ;first as isFirst;
    last as isLast;
    odd as isOdd;
    even as isEven"
   [class.is-even]="isEven"
    [class.is-odd]="isOdd"
    [class.is-last]="isLast"
    [class.is-first]="isFirst"  -->

<!-- <div class="top-menu">
      <course-image></course-image>
      <img
        class="logo"
        src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
      />
    </div> -->
